* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #003663;
  padding: 1.25rem 1.875rem;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}
header nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 40px;
}
header nav ul li:hover {
  transform: scale(1.2);
  transition: transform 0.5s;
}
header nav ul li a {
  text-decoration: none;
  color: white;
}
header nav ul li a:hover {
  color: #FFC820;
}
header nav #toggle {
  display: none;
}
header nav label {
  display: none;
}
header div button {
  background-color: #003663;
  border-color: #003663;
  padding: 8px 40px 8px 40px;
  text-align: center;
  border-radius: 10px;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}
header div button:hover {
  background-color: #0c087d;
}
header div button a {
  color: #ffffff;
  text-decoration: none;
}
header div button a:hover {
  background-color: #0c087d;
}

main .sectionPrincipal {
  background-color: #ffffff;
  width: 100%;
  height: 31.25rem;
  display: flex;
  align-items: center;
  padding-top: 0px;
  padding-left: 9.375rem;
}
main .sectionPrincipal div h1 {
  font-family: "Nunito", sans-serif;
  font-size: 3.125rem;
  line-height: 3rem;
  color: #073042;
  padding-left: 2rem;
  padding-right: 5rem;
  padding-top: 5rem;
}
main .sectionPrincipal div h2 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5625rem;
  line-height: 3rem;
  color: #073042;
  padding-left: 2rem;
}
main .sectionPrincipal p {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  padding-top: 0.625rem;
  padding-left: 2rem;
}
main .sectionPrincipal div button {
  background-color: #FFC820;
  border-color: #FFC820;
  border-radius: 0.625rem;
  padding: 10px 30px 10px 30px;
  margin-left: 2.1875rem;
  margin-top: 15px;
  font-size: 1rem;
  text-decoration: none;
  list-style: none;
}
main .sectionPrincipal div button:hover {
  background-color: #FFC820;
}
main .sectionPrincipal div button a {
  color: #ffffff;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}
main .sectionSecundario {
  background-color: #16508D;
  width: 100%;
  height: 15.625rem;
  display: flex;
  justify-content: space-around;
  font-family: "Nunito", sans-serif;
  font-size: 0.9375rem;
  color: white;
  padding-top: 1.875rem;
}
main .sectionSecundario h2 {
  color: #ffffff;
}
main .sectionSecundario h3 {
  color: #FFC820;
  font-size: 1.875rem;
}
main .sectionSecundario p {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}
main .sectionCards {
  background-color: white;
  width: 100%;
  align-items: center;
  text-align: center;
  gap: 70px;
  padding-bottom: 40px;
}
main .sectionCards h2 {
  font-family: "Nunito", sans-serif;
  font-size: 50px;
  color: #073042;
  padding-top: 3.125rem;
}
main .sectionCards p {
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  color: black;
}
main .sectionCards div button {
  background-color: #FFC820;
  border-color: #FFC820;
  border-radius: 1.25rem;
  padding: 10px 50px 10px 50px;
  margin-left: 0;
  margin-top: 15px;
  font-size: 1rem;
  text-decoration: none;
  list-style: none;
}
main .sectionCards div button:hover {
  background-color: #003663;
}
main .sectionCards div button a {
  color: #ffffff;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}
main .cardContainer1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
}
main .paseador {
  width: 16.25rem;
  height: 18.75rem;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10%;
  border-color: #073042;
  border: 4px;
  box-shadow: 1px 2px 10px rgba(128, 128, 128, 0.283);
  text-align: center;
  font-family: "Poppins", sans-serif;
  padding-top: 35px;
}
main .paseador:hover {
  transform: scale(1.1);
  transition: transform 0.2s;
}
main .sectionNosotros {
  background-color: #ffffff;
  width: 100%;
  height: 510px;
  display: flex;
  align-items: center;
  padding-top: 0px;
  padding-left: 0rem;
}
main .sectionNosotros div h1 {
  font-family: "Nunito", sans-serif;
  font-size: 3.125rem;
  line-height: 3rem;
  color: #073042;
  padding-left: 2rem;
  padding-right: 5rem;
}
main .sectionNosotros div h2 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5625rem;
  line-height: 3rem;
  color: #073042;
  padding-left: 2rem;
}
main .sectionNosotros p {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  padding-top: 0.625rem;
  padding-left: 2rem;
}
main .sectionApp {
  background-color: #33363F;
  display: grid;
  grid-template-columns: 30% 40% 30%;
  grid-template-rows: 9.375rem;
  align-items: center;
  font-family: "Nunito", sans-serif;
  color: white;
  padding-left: 80px;
  padding-right: 150px;
  padding-top: 3.125rem;
  gap: 100px;
}
main .sectionApp img {
  width: 40%;
  height: 100%;
  object-fit: cover;
}
main .sectionApp button {
  background-color: #33363F;
  border-color: #FFC820;
  padding: 5px 15px 5px 15px;
  text-align: center;
  border-radius: 10px;
  margin-top: 1.875rem;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}
main .sectionApp div a {
  color: #FFC820;
}
main .sectionApp div h2 {
  color: #FFC820;
  font-size: 2.375rem;
}
main .bannerShop {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 35px;
  padding-top: 25px;
  gap: 10PX;
}
main .bannerShop h1 {
  font-family: "Nunito", sans-serif;
  font-size: 30px;
  color: #073042;
}
main .bannerShop p {
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  color: black;
}
main .cards {
  width: 15.9375rem;
  height: 325px;
  background-color: rgb(255, 255, 255);
  border-radius: 10%;
  border: 0.0625rem solid #16508D;
  box-shadow: 2px 2px 5px grey;
  text-align: center;
  font-family: "Poppins", sans-serif;
  padding: 45px 10px 5px 10px;
}
main .cards:hover {
  transform: scale(1.08);
  transition: transform 0.2s;
}
main .cards div button {
  display: flex;
  background-color: #0b62aa;
  border-color: #0c087d;
  border-radius: 0.625rem;
  padding: 5px 10px 5px 10px;
  margin-left: 5rem;
  margin-top: 15px;
  text-decoration: none;
}
main .cards div button:hover {
  background-color: #003663;
}
main .cards div button a {
  color: #ffffff;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}
main .walker {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 25rem;
}
main .walker div p {
  font-family: "Poppins", sans-serif;
}
main .walker div h2 {
  font-family: "Nunito", sans-serif;
  font-size: 2.1875rem;
}
main .walker div h3 {
  font-family: "Nunito", sans-serif;
  font-size: 3.125rem;
  color: #16508D;
}
main .sectionContactos {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  padding-top: 3.75rem;
}
main .sectionContactos h1 {
  font-family: "Nunito", sans-serif;
  font-size: 3.125rem;
  line-height: 3rem;
  color: #073042;
  padding-left: 5rem;
}
main .sectionContactos p {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  padding-top: 40px;
  padding-left: 200px;
}
main .sectionContactos form {
  gap: 150px;
  padding-top: 20px;
  padding-left: 70px;
}
main .sectionContactos form input {
  line-height: 25px;
  border-radius: 0.3125rem;
  border-color: #16508D;
  font-family: "Poppins", sans-serif;
  font-size: 0.75rem;
  gap: 11.25rem;
}
main .sectionContactos .sectionPrincipalimg {
  background-color: white;
  width: 100%;
  align-items: center;
  text-align: center;
}
main .sectionContactos .sectionPrincipalimg h1 {
  font-family: "Nunito", sans-serif;
  font-size: 65px;
  color: #073042;
  padding-top: 3.125rem;
}
main .sectionContactos .sectionPrincipalimg p {
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  color: black;
}
main .sectionContactos .tarjeta {
  width: 15.625rem;
  height: 15.625rem;
  background-color: rgb(255, 255, 255);
  border-radius: 10%;
  border: 0.0625rem solid #073042;
  box-shadow: 2px 2px 5px grey;
  text-align: center;
  font-family: "Poppins", sans-serif;
  padding-top: 80px;
}
main .whatsapp {
  position: fixed;
  bottom: 0;
  right: 0;
}

footer {
  display: flex;
  justify-content: center;
  background-color: #003663;
  gap: 90px;
  width: 100%;
  height: 12.5rem;
}
footer .redesSociales {
  display: flex;
  align-items: center;
  margin-left: 20px;
  padding-top: 20px;
  gap: 0.9375rem;
}
footer .socialMedia {
  padding-left: 50px;
  padding-top: 40px;
}
footer .footer {
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  gap: 80px;
  padding-top: 50px;
}
footer .footer ul {
  list-style: none;
  align-items: center;
}
footer .footer ul li:hover {
  transform: scale(1.2);
  transition: transform 0.5s;
}
footer .footer ul li a {
  text-decoration: none;
  color: white;
}
footer .footer ul li a:hover {
  color: #FFC820;
}

@media (max-width: 425px) {
  nav .menu {
    width: 100%;
    height: 0;
    overflow: hidden;
  }
  nav .menu ul {
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 0px;
  }
  nav #toggle:checked ~ .menu {
    height: 100%;
  }
  nav label {
    display: flex;
    color: white;
    cursor: pointer;
  }
  nav label a:hover {
    color: #FFC820;
  }
}
/* header x 768px */
@media (max-width: 768px) {
  nav .menu {
    width: 100%;
    height: 0;
    overflow: hidden;
  }
  nav ul {
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 0px;
  }
  nav label {
    display: flex;
    color: white;
    cursor: pointer;
  }
  nav #toggle:checked ~ .menu {
    height: 100%;
  }
  a:hover {
    color: #FFC820;
  }
}

/*# sourceMappingURL=styles.css.map */
