* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #003663;
  padding: 1.25rem 1.875rem;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}
header nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 40px;
}
header nav ul li:hover {
  transform: scale(1.2);
  transition: transform 0.5s;
}
header nav ul li a {
  text-decoration: none;
  color: white;
}
header nav ul li a:hover {
  color: #FFC820;
}
header nav #toggle {
  display: none;
}
header nav label {
  display: none;
}
header div button {
  background-color: #003663;
  border-color: #003663;
  padding: 8px 40px 8px 40px;
  text-align: center;
  border-radius: 10px;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}
header div button:hover {
  background-color: #0c087d;
}
header div button a {
  color: #ffffff;
  text-decoration: none;
}
header div button a:hover {
  background-color: #0c087d;
}

main .sectionPrincipal {
  background-color: #ffffff;
  width: 100%;
  height: 31.25rem;
  display: flex;
  align-items: center;
  padding-top: 0px;
  padding-left: 9.375rem;
}
main .sectionPrincipal div h1 {
  font-family: "Nunito", sans-serif;
  font-size: 3.125rem;
  line-height: 3rem;
  color: #073042;
  padding-left: 2rem;
  padding-right: 5rem;
  padding-top: 5rem;
}
main .sectionPrincipal div h2 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5625rem;
  line-height: 3rem;
  color: #073042;
  padding-left: 2rem;
}
main .sectionPrincipal p {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  padding-top: 0.625rem;
  padding-left: 2rem;
}
main .sectionPrincipal div button {
  background-color: #FFC820;
  border-color: #FFC820;
  border-radius: 0.625rem;
  padding: 10px 30px 10px 30px;
  margin-left: 2.1875rem;
  margin-top: 15px;
  font-size: 1rem;
  text-decoration: none;
  list-style: none;
}
main .sectionPrincipal div button:hover {
  background-color: #FFC820;
}
main .sectionPrincipal div button a {
  color: #ffffff;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}
main .sectionSecundario {
  background-color: #16508D;
  width: 100%;
  height: 15.625rem;
  display: flex;
  justify-content: space-around;
  font-family: "Nunito", sans-serif;
  font-size: 0.9375rem;
  color: white;
  padding-top: 1.875rem;
}
main .sectionSecundario h2 {
  color: #ffffff;
}
main .sectionSecundario h3 {
  color: #FFC820;
  font-size: 1.875rem;
}
main .sectionSecundario p {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}
main .sectionCards {
  background-color: white;
  width: 100%;
  align-items: center;
  text-align: center;
  gap: 70px;
  padding-bottom: 40px;
}
main .sectionCards h2 {
  font-family: "Nunito", sans-serif;
  font-size: 50px;
  color: #073042;
  padding-top: 3.125rem;
}
main .sectionCards p {
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  color: black;
}
main .sectionCards div button {
  background-color: #FFC820;
  border-color: #FFC820;
  border-radius: 1.25rem;
  padding: 10px 50px 10px 50px;
  margin-left: 0;
  margin-top: 15px;
  font-size: 1rem;
  text-decoration: none;
  list-style: none;
}
main .sectionCards div button:hover {
  background-color: #003663;
}
main .sectionCards div button a {
  color: #ffffff;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}
main .sectionPrincipalimg {
  width: 100%;
  height: 500px;
  flex-direction: row;
  align-items: center;
  object-fit: cover;
  background-image: url("../assets/img/picture-paseador.png");
}
main .sectionPrincipalimg h1 {
  font-family: "Nunito", sans-serif;
  font-size: 80px;
  padding-top: 25px;
  line-height: 80px;
  color: white;
}
main .sectionPrincipalimg p {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-size: 30px;
  padding-left: 85px;
}
main .cardContainer1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
}
main .cardContainer1 .tarjeta {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 250px;
  background-color: rgb(255, 255, 255);
  border-radius: 10%;
  border: 0.0625rem solid #16508D;
  box-shadow: 2px 2px 5px grey;
  padding: 50px 10px 20px 10px;
  gap: 10px;
}
main .cardContainer1 .tarjeta:hover {
  transform: scale(1.08);
  transition: transform 0.2s;
}
main .cardContainer1 .tarjeta h3 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}
main .paseador {
  width: 16.25rem;
  height: 18.75rem;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10%;
  border-color: #073042;
  border: 4px;
  box-shadow: 1px 2px 10px rgba(128, 128, 128, 0.283);
  text-align: center;
  font-family: "Poppins", sans-serif;
  padding-top: 35px;
}
main .paseador:hover {
  transform: scale(1.1);
  transition: transform 0.2s;
}
main .sectionNosotros {
  background-color: #ffffff;
  width: 100%;
  height: 510px;
  display: flex;
  align-items: center;
  padding-top: 0px;
  padding-left: 0rem;
}
main .sectionNosotros div h1 {
  font-family: "Nunito", sans-serif;
  font-size: 3.125rem;
  line-height: 3rem;
  color: #073042;
  padding-left: 2rem;
  padding-right: 5rem;
}
main .sectionNosotros div h2 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5625rem;
  line-height: 3rem;
  color: #073042;
  padding-left: 2rem;
}
main .sectionNosotros p {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  padding-top: 0.625rem;
  padding-left: 2rem;
}
main .sectionApp {
  background-color: #33363F;
  display: grid;
  grid-template-columns: 20% 50% 30%;
  grid-template-rows: 9.375rem;
  align-items: center;
  font-family: "Nunito", sans-serif;
  color: white;
  padding: 50px 250px 10px 100px;
  gap: 80px;
}
main .sectionApp img {
  width: 40%;
  height: 100%;
  object-fit: cover;
}
main .sectionApp button {
  background-color: #33363F;
  border-color: #FFC820;
  padding: 5px 15px 5px 15px;
  text-align: center;
  border-radius: 10px;
  margin: 30px 50px 50px 0px;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}
main .sectionApp button:hover {
  background-color: #FFC820;
  border-color: #FFC820;
}
main .sectionApp div a {
  color: #FFC820;
  text-decoration: none;
}
main .sectionApp div h2 {
  color: #FFC820;
  font-size: 2.375rem;
}
main .bannerShop {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 35px;
  padding-top: 25px;
  gap: 15px;
}
main .bannerShop h1 {
  font-family: "Nunito", sans-serif;
  font-size: 50px;
  color: #073042;
}
main .bannerShop p {
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  color: black;
}
main .cards {
  flex-direction: column;
  width: 15.9375rem;
  height: 330px;
  background-color: rgb(255, 255, 255);
  border-radius: 10%;
  border: 0.0625rem solid #16508D;
  box-shadow: 2px 2px 5px grey;
  text-align: center;
  font-family: "Poppins", sans-serif;
  padding: 45px 10px 5px 10px;
}
main .cards:hover {
  transform: scale(1.08);
  transition: transform 0.2s;
}
main .cards div button {
  display: flex;
  background-color: #0b62aa;
  border-color: #0c087d;
  border-radius: 0.625rem;
  padding: 5px 10px 5px 10px;
  margin-left: 60px;
  margin-top: 15px;
  text-decoration: none;
}
main .cards div button:hover {
  background-color: #003663;
}
main .cards div button a {
  color: #ffffff;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}
main .walker {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 25rem;
}
main .walker div p {
  font-family: "Poppins", sans-serif;
}
main .walker div h2 {
  font-family: "Nunito", sans-serif;
  font-size: 2.1875rem;
}
main .walker div h3 {
  font-family: "Nunito", sans-serif;
  font-size: 3.125rem;
  color: #16508D;
}
main .sectionContactos {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  gap: 40px;
}
main .sectionContactos h1 {
  font-family: "Nunito", sans-serif;
  font-size: 50px;
  padding-right: 0;
  color: #073042;
}
main .sectionContactos p {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}
main .sectionContactos form {
  display: flex;
  flex-direction: column;
}
main .sectionContactos form label {
  gap: 10px;
  font-size: 0.75rem;
  font-family: "Poppins", sans-serif;
  padding: 0px 30px 0px 10px;
}
main .sectionContactos form input {
  line-height: 25px;
  border-radius: 12px;
  border-color: #021529;
  font-family: "Poppins", sans-serif;
  gap: 10px;
  box-sizing: border-box;
}
main .sectionContactos form div input {
  background-color: #FFC820;
  border-color: #FFC820;
  border-radius: 0.625rem;
  padding: 10px 50px 10px 50px;
  margin-left: 2.1875rem;
  margin-top: 15px;
  font-size: 1rem;
  text-decoration: none;
  list-style: none;
}
main .sectionContactos form div input:hover {
  background-color: #FFC820;
}
main .sectionContactos form div input a {
  color: #ffffff;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}
main .whatsapp {
  position: fixed;
  bottom: 0;
  right: 0;
}

footer {
  display: flex;
  justify-content: center;
  background-color: #003663;
  gap: 90px;
  width: 100%;
  height: 12.5rem;
}
footer .redesSociales {
  display: flex;
  align-items: center;
  margin-left: 20px;
  padding-top: 20px;
  gap: 0.9375rem;
}
footer .socialMedia {
  padding-left: 50px;
  padding-top: 40px;
}
footer .footer {
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  gap: 80px;
  padding-top: 50px;
}
footer .footer ul {
  list-style: none;
  align-items: center;
}
footer .footer ul li:hover {
  transform: scale(1.2);
  transition: transform 0.5s;
}
footer .footer ul li a {
  text-decoration: none;
  color: white;
}
footer .footer ul li a:hover {
  color: #FFC820;
}

.error {
  flex-direction: column;
  align-items: center;
  background-image: url("../assets/img/error.png");
  background-size: 100% 100%;
  object-fit: cover;
  width: 100%;
  height: 600px;
}
.error h1 {
  font-family: "Nunito", sans-serif;
  font-size: 3.125rem;
  line-height: 3rem;
  color: white;
  justify-content: center;
  align-items: center;
}
.error h2 {
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  color: white;
}
.error div button {
  display: flex;
  background-color: #FFC820;
  border-color: #FFC820;
  border-radius: 0.625rem;
  padding: 10px 15px 10px 15px;
  margin-left: 5rem;
  margin-top: 15px;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}
.error div button:hover {
  background-color: rgb(186, 148, 9);
}

@media (max-width: 320px) {
  main .sectionPrincipal {
    display: block;
    align-items: center;
    width: 100%;
    height: 800px;
    padding-right: 50px;
  }
  main .sectionPrincipal div img {
    margin-top: 30px;
    padding-right: 0px;
    width: 400px;
    height: 550px;
  }
  main .sectionPrincipal div p {
    font-size: 16px;
    text-align: center;
    margin-left: 20px;
  }
}
@media (max-width: 425px) {
  header nav a img {
    width: 70%;
    height: 70%;
  }
  header nav .menu {
    width: 100%;
    height: 0;
    overflow: hidden;
  }
  header nav .menu ul {
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 0px;
  }
  header nav #toggle:checked ~ .menu {
    height: 100%;
  }
  header nav label {
    display: flex;
    color: white;
    cursor: pointer;
  }
  header nav label a:hover {
    color: #FFC820;
  }
  main .sectionPrincipal {
    display: block;
    align-items: center;
    width: 100%;
    height: 800px;
    padding: 0px 20px 0px 0px;
  }
  main .sectionPrincipal div img {
    margin-top: 50px;
    margin-left: 10px;
    padding-left: 50px;
    width: 300px;
    height: 250px;
  }
  main .sectionPrincipal div h1 {
    font-family: "Nunito", sans-serif;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    align-items: center;
    padding-top: 30px;
    padding-right: 0px;
    color: #073042;
  }
  main .sectionPrincipal div p {
    font-size: 16px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
  }
  main .sectionPrincipal div div button {
    padding-left: 25px;
    margin-left: 30px;
  }
  main .sectionSecundario {
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 800px;
    padding: 10px 20px 10px 20px;
  }
  main .sectionSecundario h2 {
    font-size: 30px;
  }
  main .sectionCards div h2 {
    font-size: 40px;
  }
  main .sectionCards div p {
    font-size: 16px;
    padding: 0px 20px 0px 20px;
  }
  main .sectionCards .cardContainer1 {
    background-color: white;
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 50px;
    padding-bottom: 40px;
  }
  main .sectionCards .cardContainer1 .tarjeta h3 {
    font-size: 5px;
  }
  main .sectionApp {
    grid-template-columns: auto;
    align-items: center;
    width: 100%;
    height: 750px;
    gap: 0px;
    padding: 10px 35px 10px 35px;
  }
  main .sectionApp div {
    text-align: center;
    gap: 500px;
  }
  main .sectionApp div h2 {
    font-size: 30px;
  }
  main .sectionApp div h3 {
    font-size: 16px;
    padding: 10px 30px 10px 30px;
  }
  main .sectionApp div div img {
    width: 85%;
    height: 85%;
    margin-top: 10px;
  }
  main .bannerShop {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 250px;
    align-items: center;
    font-size: 16px;
    text-align: center;
    padding: 10px 10px 10px 10px;
    gap: 10px;
  }
  main .bannerShop div {
    gap: 1.25rem;
  }
  main .bannerShop div img {
    width: 95%;
    padding: 70px 0px 0px 0px;
  }
  main .bannerShop div h1 {
    font-size: 30px;
  }
  main .bannerShop div p {
    font-size: 16px;
  }
  main .cardContainer1 {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    gap: 30px;
  }
  main .walker {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 16px;
    margin-bottom: 200px;
  }
  main .walker div img {
    padding-top: 150px;
    padding-bottom: 30px;
    width: 85%;
    border-radius: 10px;
  }
  main .walker div h2 {
    font-size: 30px;
    line-height: 40px;
    padding: 10px 20px 10px 20px;
  }
  main .walker div p {
    font-size: 16px;
    padding: 10px 20px 10px 20px;
  }
  main .walker div h3 {
    font-size: 35px;
  }
  main .sectionNosotros {
    display: block;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 900px;
  }
  main .sectionNosotros div img {
    width: 100%;
    height: 100%;
  }
  main .sectionNosotros div p {
    font-size: 16px;
    padding: 0px 30px 10px 30px;
  }
  main .sectionNosotros div h2 {
    font-size: 30px;
    line-height: 20px;
    padding: 30px 30px 90px 30px;
  }
  main .bannerShop h1 {
    font-size: 30px;
  }
  main .sectionPrincipalimg h1 {
    font-size: 60px;
    padding-top: 95px;
    line-height: 90%;
    padding-left: 25px;
  }
  main .sectionPrincipalimg p {
    font-size: 30px;
    padding-left: 25px;
  }
  main .sectionContactos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 25px 10px 25px;
  }
  main .sectionContactos h1 {
    text-align: center;
    font-size: 40px;
    line-height: 40px;
    padding: 20px 25px 20px 25px;
  }
  main .sectionContactos div input {
    padding-left: 30px;
  }
  main .sectionContactos div img {
    width: 180%;
    padding-right: 300px;
  }
  footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 750px;
    align-items: center;
    font-size: 16px;
    text-align: center;
    gap: 3.125rem;
  }
  footer .socialMedia {
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 60px;
  }
  footer .redesSociales {
    margin-left: 50px;
  }
  footer .footer {
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 3.125rem;
  }
  footer .footerList li {
    justify-content: center;
    align-items: center;
  }
  .error {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 80px;
    height: 600px;
    background-size: cover;
  }
  .error h1 {
    font-size: 40px;
    padding: 80px 20px 10px 20px;
  }
  .error h2 {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    color: white;
  }
  .error div {
    padding-left: 60px;
  }
  .error div button a {
    text-decoration: none;
    color: white;
  }
}
/* header x 768px */
@media (min-width: 768px) {
  header nav a img {
    width: 70%;
    height: 70%;
  }
  main .sectionPrincipal {
    display: flex;
    padding-right: 20px;
    padding-left: 0;
    gap: 100px;
    margin-left: 0;
  }
  main .sectionPrincipal div img {
    margin-top: 50px;
    width: 150%;
    height: 150%;
    padding-left: 0px;
  }
  main .sectionPrincipal div {
    padding-left: 40px;
    gap: 20px;
  }
  main .sectionPrincipal div h1 {
    font-size: 30px;
    line-height: 40px;
    align-items: center;
    padding-top: 50px;
    padding-right: 0px;
    padding-left: 0;
    line-height: 30px;
  }
  main .sectionPrincipal div p {
    padding-right: 0px;
    padding-left: 0;
  }
  main .sectionSecundario {
    display: flex;
    padding: 30px 20px 10px 50px;
  }
  main .sectionSecundario h2 {
    font-size: 20px;
  }
  main .sectionSecundario h3 {
    font-size: 25px;
  }
  main .sectionSecundario p {
    font-size: 16px;
  }
  main .sectionSecundario div iframe {
    width: 280px;
    height: 190px;
  }
  main .sectionNosotros div img {
    width: 250%;
    height: 507px;
    object-fit: cover;
  }
  main .sectionNosotros div h2 {
    font-size: 40px;
    padding-left: 240px;
    padding-top: 10px;
  }
  main .sectionNosotros div p {
    font-size: 18px;
    padding-right: 30px;
    padding-left: 240px;
    padding-bottom: 10px;
    line-height: 22px;
  }
  main .bannerShop h1 {
    font-size: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  main .sectionApp {
    grid-template-columns: 25% 50% 25%;
    padding: 50px 0px 10px 50px;
    gap: 20px;
    align-items: center;
  }
  main .sectionApp img {
    width: 45%;
    height: 100%;
    object-fit: cover;
  }
  main .sectionApp div h2 {
    font-size: 25px;
  }
  main .bannerShop {
    display: flex;
    width: 100%;
    height: 200px;
    gap: 10px;
  }
  main .cardContainer1 .cards div h3 {
    font-size: 18px;
  }
  main .cardContainer1 .cards div p {
    font-size: 12px;
  }
  main .cardContainer1 .cards div button {
    display: block;
    padding: 5px 5% 5px 5px;
  }
  main .cardContainer1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
  }
  main .walker div img {
    width: 90%;
    border-radius: 10px;
    margin-left: 20px;
  }
  main .walker div {
    padding: 0px 15px 0px 15px;
  }
  main .walker div h2 {
    font-size: 150%;
    line-height: 30px;
  }
  main .walker div p {
    font-size: 16px;
    padding: 10px 10px 10px 10px;
  }
  main .walker div h3 {
    font-size: 40px;
    padding-left: 10px;
  }
  main .sectionContactos {
    width: 700px;
    padding: 0px 25px 10px 25px;
  }
  main .sectionContactos h1 {
    font-size: 40px;
  }
  main .sectionContactos div input {
    padding-left: 100px;
  }
  main .sectionContactos div img {
    width: 180%;
    padding-right: 400px;
  }
  main .error {
    padding-top: 100px;
    gap: 20px;
  }
  main h1 {
    font-size: 50px;
    padding: 100px 50px 10px 40px;
  }
  main h2 {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    color: white;
    padding: 0px 20px 0px 0px;
  }
  main div button a {
    text-decoration: none;
    color: white;
  }
  footer {
    width: 100%;
    height: 450px;
  }
  footer .footer {
    gap: 20px;
    padding-right: 50px;
  }
}
@media (min-width: 1024px) {
  main .sectionPrincipal {
    display: flex;
    flex-direction: row;
    padding-right: 70px;
    padding-left: 0;
    gap: 80px;
  }
  main .sectionPrincipal div img {
    margin-top: 50px;
    width: 180%;
    height: 100%;
    padding-left: 0px;
  }
  main .sectionPrincipal div {
    padding-left: 80px;
  }
  main .sectionPrincipal div h1 {
    font-size: 40px;
    line-height: 40px;
    align-items: center;
    padding-top: 30px;
    padding-right: 0px;
    color: #073042;
  }
  main .sectionApp div h2 {
    font-size: 25px;
  }
  main .sectionApp div img {
    width: 45%;
  }
  main .cardContainer1 {
    gap: 20px;
  }
  main .sectionNosotros {
    width: 100%;
    margin-top: 0;
  }
  main .sectionNosotros div img {
    width: 300%;
    height: 508px;
    margin-top: 0;
  }
  main .sectionNosotros div p {
    font-size: 18px;
    padding-right: 30px;
    padding-left: 390px;
    line-height: 24px;
  }
  main .sectionNosotros div h2 {
    font-size: 40px;
    padding-left: 390px;
    padding-top: 10px;
  }
  main .bannerShop div {
    gap: 10px;
  }
  main .bannerShop div h1 {
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 40px;
  }
  main .cardContainer1 .cards div h3 {
    font-size: 18px;
  }
  main .cardContainer1 .cards div p {
    font-size: 16px;
  }
  main .cardContainer1 .cards div button {
    display: block;
    padding: 45px 5% 5px px;
  }
  main .sectionContactos {
    width: 100%;
    height: 900px;
    padding-left: 30px;
  }
  main .sectionContactos h1 {
    font-size: 50px;
  }
  main .sectionContactos div input {
    padding-left: 100px;
  }
  main .error {
    padding-top: 80px;
    gap: 20px;
  }
  main h1 {
    font-size: 50px;
    padding: 100px 90px 10px 90px;
  }
  main h2 {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    color: white;
    padding: 0px 20px 0px 0px;
  }
  main div button a {
    text-decoration: none;
    color: white;
  }
  footer {
    width: 100%;
    height: 400px;
  }
  footer .footer {
    font-size: 18px;
    gap: 30px;
    padding-right: 50px;
    line-height: 30px;
  }
}

/*# sourceMappingURL=styles.css.map */
