@media (min-width:1024px){
    main{
        .sectionPrincipal{
            display: flex;
            flex-direction:row;
            padding-right: 70px;
            padding-left: 0;
            gap: 80px;
            div{
                img{
                    margin-top: 50px;
                    width: 180%;
                    height: 100%;
                    padding-left: 0px;
            }
            }
            div{
                padding-left: 80px;
                h1{
                    font-size: 40px;
                    line-height: 40px;
                    align-items:center;
                    padding-top: 30px;
                    padding-right: 0px;
                    color: $color-textoprimario;
                }
                }
            }
        .sectionApp{
            div{
                h2{
                    font-size: 25px;
                }
            }
            div{
                img{
                    width: 45%;
                }
            }
        }
        .cardContainer1{
            gap: 20px;
        }
        .sectionNosotros{
            width: 100%;
            margin-top: 0;
            div{
                img{
                    width: 300%;
                    height: 508px;
                    margin-top: 0;
                }
            }
            div{
                p{
                    font-size: 18px;
                    padding-right: 30px;
                    padding-left: 390px;
                    line-height: 24px;
                }
                h2{
                    font-size: 40px;
                    padding-left: 390px;
                    padding-top: 10px;
                }
            }
        }
        .bannerShop{
            div{
                gap: 10px;
                h1{
                    font-size: 40px;
                    padding-top: 20px;
                    padding-bottom: 40px;
                }
            }
        }
        .cardContainer1{
            .cards{
                div{
                    h3{
                        font-size: 18px;
                    }
                    p{
                        font-size: 16px;
                    }
                }
                div{
                    button{
                        display: block;
                        padding: 45px 5% 5px px;
                    }
                }
            }
        }
        .sectionContactos{
            width: 100%;
            height: 900px;
            padding-left: 30px;
            h1{
            font-size: 50px;
            }
            div{
                input{
                    padding-left: 100px;
                }
            }
        }
        .error{
            padding-top: 80px;
            gap: 20px;
        }
        h1{
            font-size: 50px;
            padding: 100px 90px 10px 90px;
        }
        h2{
            font-family: 'Poppins', sans-serif;
            font-size: 25px;
            color: white;
            padding: 0px 20px 0px 0px;
        }
        div{
            button{
                a{
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }
    footer{
        width: 100%;
        height: 400px;
        .footer{
            font-size: 18px;
            gap: 30px;
            padding-right: 50px;
            line-height: 30px;
        }
    }
}